/* presentation.css */
body {
  background-color: #97cfff;
  margin: 0;
  padding:0;
}

section svg, svg {
  margin: 0;
  padding: 0;
  display: block; /* Élimine l'espace blanc généré par le SVG en tant qu'élément inline */
  position: relative; /* S'assure que l'élément respecte les règles de son conteneur */
}

.presentation-container {
    padding: none;
    text-align: center;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .interactive-elements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
  
  .item {
    margin: 20px;
    padding: 10px;
    border: 2px solid #1e3d58;
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s;
    
  }
  
  .item:hover {
    transform: scale(1.1);
  }
  
  .item img {
    width: 100%;
    height: auto;
  }
  
  .audio-container {
    background-color:#0099ff;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1e3d58;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .vague2{
    background-color: #0099ff;
  }

  h2{
    margin-top: 0;
    border-top: 0;
  }

  .audio-container button {
    display: block; /* S'assure que le bouton occupe toute la largeur disponible */
    margin: 20px auto; /* Centrer horizontalement et ajouter un espace au-dessus */
    margin-bottom: 0;
  }