* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
  
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
  
/* background settings for Spline 3D */
html, body {
    height: 100%;
    overflow: hidden;  /* Prevent scrolling */
}

body {
    background: radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}
  
.ocean { 
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
}
  
.content {
    text-align: center;
    z-index: 10;
    color: #333;
    padding: 20px;
}
  
h1 {
    font-size: 2.5em;
    color: #1e3d58;
}
  
button {
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #1e3d58;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    position: absolute; /* positionner le bouton par rapport à son conteneur */
    bottom: 20%; /* Positionner le bouton à 25% de la hauteur de l'écran */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Ajuster la position pour qu'il soit parfaitement centré */
}
  
button:hover {
    background-color: #2b5573;
}
